@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;

	var masterSettings = Model.Root().Descendants<MasterSettings>().FirstOrDefault();

	var cssReferences = masterSettings?.CssReferences;
	var scriptsReferencces = masterSettings?.ScriptsReferences;

}
<!doctype html>
<html lang="es">
<head>
	@await Html.PartialAsync("~/Views/Partials/_MetaData.cshtml")
	<!-- Propietary css files -->
	<link rel="stylesheet" href='@Url.Content("~/css/productCarousel.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/stylesRichTextEditor.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/bannerWithButtons.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/bannerTypeOne.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/listOfButtonsWith_Text_and_Image.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/listOfButtons_With_Image.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/listOfHighlightCards.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/listOfHighlightCards2.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/imageCarrousel.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/listOfPersons.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/twoColumnContent.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/listOfImageAndText.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/productSummarizedContent.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/fonts.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/location.css")' />
	<link rel="stylesheet" href='@Url.Content("~/css/eMailForm.css")' />
	<link rel="stylesheet" href='@Url.Content("~/slick/slick.css")' />
	<link rel="stylesheet" href='@Url.Content("~/slick/slick-theme.css")' />
	<script src="https://kit.fontawesome.com/86caee2b3f.js" crossorigin="anonymous"></script>
	
	
	<!-- Nutrir css files -->
	<link rel='stylesheet' href='css/masterStyles.css' media='all' />
	<link rel="stylesheet" href='@Url.Content("~/css/animations.min.css")' />

	@if(cssReferences != null)
	{
		@Html.Raw(cssReferences);
	}

	@if(scriptsReferencces != null)
    {
        @Html.Raw(scriptsReferencces);
    }

</head>
<body
	class="home page-template page-template-elementor_header_footer page page-id-23 theme-hello-elementor woocommerce-no-js elementor-default elementor-template-full-width elementor-kit-5 elementor-page elementor-page-23">
	<!-- Page Header-->
	@await Html.PartialAsync("~/Views/Partials/_Navigation.cshtml")
	@RenderBody()
	@await Html.PartialAsync("~/Views/Partials/_Donate.cshtml")
	@await Html.PartialAsync("~/Views/Partials/_Footer.cshtml")
</body>
</html>